{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Reservas{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .row.content {
            height: 60.1rem;
        }
        .sidenav {
            background-color: #00796b;
            height: 60.1rem;
        }
        footer {
          background-color: #FF6F00;
          color: white;
        }
        body {
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    {% include 'sidenav.html' %}
</body>
</html>