{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Reservas{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "bootstrap3/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <style>
        .row.content {
            height: 60.1rem;
        }
        .sidenav {
            background-color: #00796b;
            height: 60.1rem;
        }
        footer {
          background-color: #FF6F00;
          color: white;
        }
        body {
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    {% include 'sidenav.html' %}

    <script src="{% static "bootstrap3/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "jquery/jquery-3.2.1.min.js" %}"></script>
</body>
</html>