<!-- navbar -->
<nav class="navbar navbar-inverse" style="margin-bottom: 0px;border-radius: 0px;background-color: #004c40;border-color: #004c40;">
    <div class="container-fluid">
        <div class="navbar-header">
            <h4 style="color:white; top:50%;">Sistema Gerenciador de Reservas</h4>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'editarPerfilUsuario' %}"><span class="glyphicon glyphicon glyphicon-edit"></span> Editar Perfil</a></li>
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- end navbar -->