<div class="col-sm-3 sidenav"
	 style="padding-top:0px;padding-left:3px;padding-right:3px;">
	<ul class="nav nav-pills nav-stacked" style="padding-top:80px;">
		<li class="active">
			<a style="background-color:#00796b;" href="/reservas/listar/">Reservas</a>
		</li>
		<li class="active">
			<a style="background-color:#00796b;" href="/tipo_recurso/listar/">Tipos de Recursos</a>
		</li>
		<li class="active">
			<a style="background-color:#00796b;" href="/recursos/listar/">Recursos</a>
		</li>
		<li class="active">
			<a style="background-color:#00796b;" href="/mantenimientos/listar/">Mantenimientos</a>
		</li>
		<li class="active">
			<a style="background-color:#00796b;" href="/prioridades/listar/">Prioridades</a>
		</li>
		<li class="active">
			<a style="background-color:#00796b;" href="/usuarios/listar/">Usuarios</a>
		</li>
		<li class="active">
			<a style="background-color:#00796b;" href="/roles/listar/">Roles</a>
		</li>
		<li class="active">
			<a style="background-color:#00796b;" href="/permisos/listar/">Permisos</a>
		</li>
		<li class="active">
			<a style="background-color:#00796b;" href="/configuraciones/">Configuraciones</a>
		</li>
	</ul>
</div>
