<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Mantenimientos{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .row.content {
            height: 60.1rem;
        }
        .sidenav {
            background-color: #00796b;
            height: inherit;
        }

        footer {
          background-color: #FF6F00;
          color: white;
        }
        body {
            background-color: #eeeeee;
        }
        h3 {
            text-align: center;
            margin-top:50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row content">
            {% include 'navbar.html' %}
            {% include 'sidenav.html' %}
            {% include 'sidenav_mantenimiento.html' %}
        </div>
    </div>
</body>
</html>