.idea/
resourceman/desarrollo/
resourceman/__pycache__/
resourceman/*/__pycache__/
resourceman/resourceman/*/__pycache__/
resourceman/*/migrations/
resourceman/resourceman/*/*.pyc
resourceman/reservas/management/__pycache__/
resourceman/*.sqlite3
resourceman/resourceman/*/migrations/*
