.idea/
resourceman/desarrollo/
resourceman/__pycache__/
resourceman/*/__pycache__/
resourceman/resourceman/*/__pycache__/
resourceman/resourceman/*/migrations/*
resourceman/*/migrations/*
resourceman/*/*.pyc
resourceman/*.sqlite3
