<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Reseteo de Password{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        div {
            margin-top: 10px;
        }
        form {
            padding-left:35%;
            padding-right:10%;
            margin-top:10%;
        }
    </style>
</head>
<body>
    <h3 class="text-center">Su contraseña se reestableció correctamente</h3>
	<p class="text-center"><a  href="{% url 'login' %}">Iniciar sesión</a></p>
</body>
</html>
