<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Reseteo de Password{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        div {
            margin-top: 10px;
        }
        form {
            background: gainsboro;
            margin-left:45rem;
            margin-right:45rem;
            padding-top: 2rem;
            margin-top:10%;
        }
    </style>
</head>
<body>
    {% if validlink %}

    <form method="post" align="center">{% csrf_token %}

        {{ form.new_password1.errors }}

        <div>
            <label for="id_new_password1">Nueva contraseña: </label>
            {{ form.new_password1 }}
        </div>
        <div>
            <label for="id_new_password2">Confirme contraseña: </label>{{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>
        <input align="center" style="margin-top:2rem;width: 46.5rem; border-radius: 0" type="submit" value="Cambiar mi contraseña"
               class="btn btn-primary btn-lg" />
    </form>
    {% else %}
<h3 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h3>

{% endif %}
</body>
</html>