{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        footer {
            background-color: #FF6F00;
            color: white;
        }
        body {
            background-color: #eeeeee;
        }
        form {
            /* Sólo para centrar el formulario a la página */
            width: 50%;
            margin-left: 30%;
        }
        h1{
            margin-left: 30%;
        }
        #button {
            margin-left: 13%;
        }
    </style>
</head>
<body>
{%include 'navbar.html'%}
{%include 'sidenav.html'%}
<form action="" method="post">{% csrf_token %}
    <h1>Agregar Rol<button id="button" type="submit" class="btn btn-primary btn-lg">Guardar</button>
        <button type="reset" class="btn btn-danger btn-lg">Limpiar</button></h1>
    <div>
        <label>Nombre:</label>
        {{ rol_form.name }}
    </div>
    <div>
        <label>Seleccione los permisos:</label>
        {{ rol_form.permissions }}
    </div>
</form>
</form>
    {% include 'mensajes.html' %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ mantenimiento.media }}
</body>
</html>