<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Login{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        div {
            margin-top: 10px;
        }
        form {
            padding-left:35%;
            padding-right:10%;
            margin-top:10%;
        }
    </style>
</head>
<body>

    <form method="post" action="" class="col-lg-3" style="flex-direction: row; margin-left: 45rem">{% csrf_token %}
        {{ formulario.as_p }}
        <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
        <p>Olvidé mi contraseña. <a>Recuperar</a></p>
        {% if message %}
            <b>{{ message }}</b>
        {% endif %}
    </form>
</body>
</html>
